<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36d5645f-61c0-45e2-8c1f-49193db2cc1e" Alias="Basic Content Controls - Color Name - Dropdown" Level="1">
  <Info>
    <Name>Basic Content Controls - Color Name - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Red"
    },
    {
      "id": 2,
      "value": "Yellow"
    },
    {
      "id": 3,
      "value": "Blue"
    },
    {
      "id": 4,
      "value": "Green"
    },
    {
      "id": 5,
      "value": "Violet"
    }
  ]
}]]></Config>
</DataType>