<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ec81633-7c05-43e8-bfec-3e49546ac0b3" Alias="markdown" Level="1">
  <Info>
    <Name>markdown</Name>
    <EditorAlias>My.MarkdownEditor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>