@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
    Layout = "master.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Html.RequiresJs("/scripts/jquery-1.8.0.min.js");
    Html.RequiresJs("/scripts/jquery.validate.min.js");
    Html.RequiresJs("/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("/scripts/jquery.unobtrusive-ajax.min.js");
    Html.RequiresJs("/scripts/contactForm.js");
}

@Html.Partial("PageHeader")

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @{ Html.RenderAction("RenderForm", "ContactSurface"); }
        </div>
    </div>
</div>


