<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef777e18-b96f-401b-8754-03557e25bbb4" Alias="articleList" Level="2">
  <Info>
    <Name>Article List</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ab0e2c4b-d2a0-458b-96a9-959100da3bd9">contentControls</Composition>
      <Composition Key="70836ce5-72b4-4c6e-90fc-d7e210248cb6">headerControls</Composition>
      <Composition Key="3917e83c-b127-445d-b590-b179370bbe60">mainImageControls</Composition>
      <Composition Key="ca696f9c-028f-42d7-b5a0-1fcbb226e74d">sEOControls</Composition>
      <Composition Key="6742bf80-8645-44ae-8e29-85ce7b155550">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>articleList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27f1a940-18d0-44f5-9cae-1753082df391">articleList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="45eb9642-dc0b-4101-9bc3-032fa5cc701d" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>