<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae2f2a93-e6f4-45fb-bfb3-bf37e84be3b7" Alias="content" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-documents color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>