<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33aaeb48-62bb-4759-b9c1-7405e78e393e" Alias="error" Level="2">
  <Info>
    <Name>Error</Name>
    <Icon>icon-application-error color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ab0e2c4b-d2a0-458b-96a9-959100da3bd9">contentControls</Composition>
      <Composition Key="70836ce5-72b4-4c6e-90fc-d7e210248cb6">headerControls</Composition>
      <Composition Key="3917e83c-b127-445d-b590-b179370bbe60">mainImageControls</Composition>
      <Composition Key="ca696f9c-028f-42d7-b5a0-1fcbb226e74d">sEOControls</Composition>
      <Composition Key="6742bf80-8645-44ae-8e29-85ce7b155550">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>error</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="605c3b94-f340-4d32-a406-79e21492aa48">error</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>