<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33bbf539-0034-41b2-bbd5-7982be9f78fd" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ab0e2c4b-d2a0-458b-96a9-959100da3bd9">contentControls</Composition>
      <Composition Key="009fbf49-4cd5-40d8-b062-10a77b3484d7">footerControls</Composition>
      <Composition Key="70836ce5-72b4-4c6e-90fc-d7e210248cb6">headerControls</Composition>
      <Composition Key="8711f358-8004-4467-ba14-4cd67bcd45ff">leaveTabControls</Composition>
      <Composition Key="3917e83c-b127-445d-b590-b179370bbe60">mainImageControls</Composition>
      <Composition Key="ca696f9c-028f-42d7-b5a0-1fcbb226e74d">sEOControls</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="47ee46bc-e7b9-4be8-94ab-c2f997207f8c">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ae2f2a93-e6f4-45fb-bfb3-bf37e84be3b7" SortOrder="0">content</ContentType>
    <ContentType Key="750d47f3-95be-44ae-bbf3-1fde20351d4e" SortOrder="1">contact</ContentType>
    <ContentType Key="ef777e18-b96f-401b-8754-03557e25bbb4" SortOrder="2">articleList</ContentType>
    <ContentType Key="33aaeb48-62bb-4759-b9c1-7405e78e393e" SortOrder="3">error</ContentType>
    <ContentType Key="eff4a2c3-853a-4cf2-ae39-3973876838a5" SortOrder="4">search</ContentType>
    <ContentType Key="c1efedbc-bc14-4947-b6ed-3e55ecaf239a" SortOrder="5">xMLSitemap</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>44ee9639-7f22-4112-8e46-7085d7016de9</Key>
      <Name>MyMarkdown</Name>
      <Alias>myMarkdown</Alias>
      <Definition>7ec81633-7c05-43e8-bfec-3e49546ac0b3</Definition>
      <Type>My.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Custom</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Custom</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>