<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1efedbc-bc14-4947-b6ed-3e55ecaf239a" Alias="xMLSitemap" Level="2">
  <Info>
    <Name>XML Sitemap</Name>
    <Icon>icon-sitemap color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6742bf80-8645-44ae-8e29-85ce7b155550">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>xMLSitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2307755c-c635-4536-86af-4d736c202344">xMLSitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>