<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1efedbc-bc14-4947-b6ed-3e55ecaf239a" Alias="xMLSitemap" Level="2">
  <Info>
    <Name>XML Sitemap</Name>
    <Icon>icon-sitemap color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>